html {
  font-family: Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

.content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.container-header {
  border-bottom: 3px solid #dcdcdc;
  background-color: white;

  padding: 10px 20px;

  position: sticky;
  top: 0;

  z-index: 2;
}

.container-hero {
  padding-top: 20px;
  background-color: white;
}

.hero {
  display: flex;
  flex-direction: row;
}

.hero-left {
  width: 60%;
}

.hero-right {
  width: 40%;
}

.hero-right-image {
  height: 350px;
  width: auto;
}

@media (max-width: 767px) {
  .hero {
    flex-direction: column-reverse;
  }

  .hero-left {
    width: 100%;
  }

  .hero-right {
    width: 100%;
  }

  .hero-right-image {
    height: 150px;
    width: auto;
  }
}

.tranche {
  padding: 5px;
}

#second-tranche {
  background-color: antiquewhite;
  border-radius: 10px;
}

.progress-bar {
  background-color: white;
  height: 30px;
  border: 2px solid lightgrey;
  border-radius: 20px;
  overflow: hidden;
  width: 95%;
  margin: 30px auto;
  display: flex;
}

.progress-bar-inner {
  background-color: #91c591;
  height: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

#first-tranche .progress-bar {
  height: 25px;
}

#second-tranche .progress-bar {
  height: 30px;
}

#first-tranche .progress-bar-inner {
  width: 100%;
}

#second-tranche .progress-bar-inner {
  width: 11%;
}

.progress-bar-label {
  font-weight: bold;
  padding: 7px 10px;
  white-space: nowrap;
}

.amount-container {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.amount-received,
.amount-goal {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

#first-tranche .amount-received-number,
#first-tranche .amount-goal-number {
  font-size: 1.5rem;
}

#second-tranche .amount-received-number,
#second-tranche .amount-goal-number {
  font-size: 2rem;
}

@media (max-width: 470px) {
  .amount-container {
    flex-direction: column;
  }

  .amount-received,
  .amount-goal {
    width: 100%;
    margin: 20px 0;
  }
}

.donation-details-background {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, #fff 50%, #f5f5f5 50%);
}

.donation-pulse {
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.donation-details {
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px #999;
  padding-bottom: 10px;
}

.donation-details-content {
  padding: 10px;
}

.or {
  width: auto;
  text-align: center;
  border-bottom: 2px solid lightgray;
  line-height: 0.1em;
  margin: 30px -10px 30px;
}

.or-label {
  background: #fff;
  padding: 0 10px;
  font-style: italic;
}

.button {
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
  background-color: darkslategrey;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.5s;
}

.button:hover {
  background-color: darkgray;
}

.payment-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.apay {
  height: 30px;
  width: auto;
}

.gpay {
  height: 50px;
  width: auto;
}

.ccpay {
  height: 40px;
  width: auto;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.font-large {
  font-size: 1.5rem;
}

.footer {
  margin-top: 40px;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.btn-copy {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.ribbon-container {
  position: relative;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.payconiq-qr {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
}

.payconiq-logo {
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.payconiq-payment-mobile {
  display: none;
}

@media (max-width: 767px) {
  .payconiq-payment-desktop {
    display: none;
  }

  .payconiq-payment-mobile {
    display: unset;
  }
}